### API FUNCTION #############################################
#Set the API you want to use. Alternate flips between both.
#Values: OPENAI, AZURE, ALTERNATE
#IF ALTERNATE - Uses Azure First
API_FUNCTION="OPENAI"
API_THROTTLE=10
API_RETRY=20
API_TIMEOUT=90

### API SETTINGS #############################################
# AZURE_MODE_NAME is the name of the model you created in Azure NOT the model type. Example: CatWatch01
# AZURE_URL Is the URL found in the Azure Playground.
### AZURE ####################################################
AZURE_URL=""
AZURE_API_KEY=""
AZURE_MODEL_NAME=""

### OPENAI####################################################
OPENAI_URL="https://api.openai.com/v1/chat/completions"
OPENAI_API_KEY=""
OPENAI_MODEL_NAME="gpt-4"

### MODEL SETTINGS ###########################################
TEMPERATURE=0.2
MAX_TOKENS=800
FREQUENCY_PENALTY=0.0
PRESENCE_PENALTY=0.0
TOP_P=0.0
STOP=None

### TOKEN MANAGEMENT #########################################
#These settings determine the max conversation history
#and the characters returned from commands. Use carfully as you'll
#go over your max tokens.
MAX_CONVERSATIONS = 3
MAX_CHARACTERS = 3000

### SEARCH ENGINE API ########################################
# API KEY https://cloud.google.com/
SEARCH_ENGINE_MODE="GOOGLE"
GOOGLE_API_KEY=""
CUSTOM_SEARCH_ENGINE_ID=""
SERP_API=""

### BRIGHT DATA PROXY ########################################
#NOT NEEDED FOR GENERAL USE - SIGN UP AT BRIGHTDATA
BD_ENABLED = False
BD_USERNAME = ""
BD_PASSWORD = ""
BD_PORT = 22225
### DEBUG ####################################################
#Writes a debug.txt file to working directory
DEBUG_CODE=True