### API SETTINGS #############################################
#Values: OPENAI, AZURE, ALTERNATE - WILL USE BOTH APIS
API_FUNCTION="OPENAI"
API_THROTTLE=15
API_RETRY=15
API_TIMEOUT=90

### AZURE ####################################################
# Apply for Azure here: https://tinyurl.com/azuresignup1
# Apply for GPT-4: https://tinyurl.com/gpt4azureaccess

AZURE_URL="https://{YOURURL}.openai.azure.com/openai/deployments/{YOUR MODEL NAME}/chat/completions?api-version=2023-03-15-preview"
AZURE_API_KEY="APIKEY"
# AZURE_MODE_NAME is the name of the model you created in Azure NOT the model type. Example: CatWatch01
AZURE_MODEL_NAME="MODELNAME"

### OPENAI####################################################
#SIGN UP: https://platform.openai.com/account/api-keys
OPENAI_URL="https://api.openai.com/v1/chat/completions"
OPENAI_API_KEY="APIKEY"
OPENAI_MODEL_NAME="gpt-4"

### MODEL SETTINGS ###########################################
TEMPERATURE=0.5
MAX_TOKENS=800 # Adjust as needed
FREQUENCY_PENALTY=0.0
PRESENCE_PENALTY=0.0
TOP_P=0.0
STOP=None
### TOKEN MANAGEMENT #########################################
#These settings determine the max conversation history
#and the characters returned from commands. Use carfully as you'll
#go over your max tokens.
MAX_CONVERSATIONS = 6
MAX_CHARACTERS = 3000
### SEARCH ENGINE API ########################################
#SIGN UP https://serpapi.com/
SERP_API=""
### BRIGHT DATA PROXY ########################################
#NOT NEEDED FOR GENERAL USE - SIGN UP AT BRIGHTDATA
BD_ENABLED = False
BD_USERNAME = 
BD_PASSWORD = 
BD_PORT = 22223
### DEBUG ####################################################
#LOGGING - LOGS TO /LordGPT_folder/debug.txt. Remove API before posting.
DEBUG_CODE=False
