requests
termcolor
beautifulsoup4
PyPDF2
jsmin
fake-useragent
pdfkit
tiktoken
unidecode
requests
python-dotenv
yaspin
playwright
google-search-results
wkhtmltopdf
prompt_toolkit
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability